* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root, .theme-light-1 {
    --body-color: #f7f1e4;
    --content-text-color: #4a331f;
}

.theme-light-2 {
    --body-color: #fcfcfc;
    --content-text-color: #333;
}

.theme-dark-1 {
    --body-color: #1a1a1a;
    --content-text-color: #b3b3b3;
}

.theme-dark-2 {
    --body-color: #000;
    --content-text-color: #ededed;
}

body {
    font-family: sans-serif;
}

a {
    color: initial;
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    user-select: none;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hidden {
    visibility: hidden;
    pointer-events: none;
}