* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root, .theme-light-1 {
    --body-color: #f7f1e4;

    --chapter-content-text-color: #4a331f;

    --catalog-panel-ui-color: #f7f1e4;
    --catalog-panel-topbar-text-color: #333;
    --total-chapters-text-color: #606060;
    --chapter-text-color: #333;
    --active-chapter: #b1aea8;

    --pageOptions-panel-ui-color: #3b3b3b;

    --navigation-background-color: #b1aea8;
}

.theme-light-2 {
    --body-color: #fcfcfc;

    --chapter-content-text-color: #333;

    --catalog-panel-ui-color: #fcfcfc;
    --catalog-panel-topbar-text-color: #333;
    --total-chapters-text-color: #606060;
    --chapter-text-color: #333;
    --active-chapter: #d9d9d9;

    --navigation-background-color: #dbdbdb;
}

.theme-dark-1 {
    --body-color: #1a1a1a;

    --chapter-content-text-color: #b2b2b2;

    --catalog-panel-ui-color: #3b3b3b;
    --catalog-panel-topbar-text-color: #d9d9d9;
    --total-chapters-text-color: #bdbdbd;
    --chapter-text-color: #ccc;
    --active-chapter: #585858;

    --navigation-background-color: #3b3b3b;
}

.theme-dark-2 {
    --body-color: #000;

    --chapter-content-text-color: #ededed;

    --catalog-panel-ui-color: #3b3b3b;
    --catalog-panel-topbar-text-color: #d9d9d9;
    --total-chapters-text-color: #bdbdbd;
    --chapter-text-color: #ccc;
    --active-chapter: #585858;

    --navigation-background-color: #303030;
}

body {
    font-family: sans-serif;
    background-color: var(--body-color);
}

body[data-scrollable="false"] {
    overflow: hidden;
}

a {
    text-decoration: none;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hidden {
    visibility: hidden;
    pointer-events: none;
}

.container {
    width: min(800px, 100%);
    margin: auto;
    padding: 8px;
}

#chapter-content {
    font-size: 20px;
    text-align: justify;
    min-height: 70vh;
}

#chapter-content.text-indent {
    text-indent: 2em;
}

#chapter-content p {
    margin: 1.25em 0;
    color: var(--chapter-content-text-color);
}

.chapter-title {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: var(--body-color);
    color: #888;
}

.chapter-title h3 {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.catalog {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.catalog.show {
    opacity: 1;
    pointer-events: all;
}

.catalog-panel {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 85%;
    background-color: var(--catalog-panel-ui-color);
    border-radius: 1rem 1rem 0 0;
    padding: 20px 8px;
}

.catalog-panel .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #777;
    color: var(--catalog-panel-topbar-text-color);
}

.catalog-panel .topbar .title {
    font-size: 1.625rem;
}

.catalog-panel .topbar .close-catalog-btn {
    cursor: pointer;
    display: grid;
    place-items: center;
    border-radius: 6px;
    font-size: 1.75rem;
    padding: 3px;
    color: inherit;
    border: none;
    outline: none;
    background-color: transparent;
    transition: all 0.2s ease;
}

.catalog-panel .topbar .close-catalog-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.catalog-panel .tools {
    margin: 10px 0;
}

.catalog-panel .tools .total-chapters {
    font-size: 1rem;
    color: var(--total-chapters-text-color);
}

.catalog-panel #chapter-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
    max-height: 85%;
    overflow-y: auto;
    padding: 0 10px 10px 0;
}

#chapter-list li {
    border-radius: 5px;
    transition: background 0.2s ease;
}

#chapter-list li.active {
    background-color: var(--active-chapter);
}

#chapter-list li a {
    display: block;
    padding: 5px 3px;
    font-size: 1.125rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: inherit;
    color: var(--chapter-text-color);
    transition: background 0.2s ease;
}

#chapter-list li:not(.active):hover {
    background-color: var(--active-chapter);
}

.page-options {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.page-options.show {
    opacity: 1;
    pointer-events: all;
}

.page-options.show header,
.page-options.show .reading-settings {
    transform: translateY(0);
}

.page-options header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #eee;
    background-color: var(--pageOptions-panel-ui-color);
    transform: translateY(-100%);
    transition: transform 0.2s ease;
}

.page-options header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-options header a {
    color: inherit;
}

.page-options header .home {
    display: grid;
    place-items: center;
    font-size: 2rem;
    border-radius: 5px;
    padding: 1px;
}

.page-options header .book-name a {
    color: inherit;
    font-size: 1.125rem;
    display: block;
    max-width: 15em;
}

.page-options .nav-chapter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    font-size: 1.125rem;
    color: #eee;
    background-color: var(--pageOptions-panel-ui-color);
}

.page-options .nav-chapter.prev {
    left: 0;
    padding-right: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.page-options .nav-chapter.next {
    right: 0;
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.page-options .reading-settings {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--pageOptions-panel-ui-color);
    transform: translateY(100%);
    transition: transform 0.2s ease;
}

.reading-settings .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px 8px 12px;
}

.reading-settings .open-catalog-btn {
    cursor: pointer;
    border: none;
    width: 100%;
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 3px;
    color: #eee;
    background-color: #555;
    outline: none;
    user-select: none;
    transition: background 0.2s ease;
}

.open-catalog-btn:hover {
    background-color: hsl(0, 0%, 36%);
}

.reading-settings .fontsize-setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.fontsize-setting button {
    cursor: pointer;
    width: 120px;
    font-size: 1.125rem;
    padding: 3px;
    border-radius: 20px;
    background-color: #555;
    border: 2px solid #777;
    color: #ccc;
    outline: none;
    user-select: none;
    transition: all 0.2s ease;
}

.fontsize-setting button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.fontsize-setting button:not(:disabled):hover {
    background-color: #636363;
    border-color: #878787;
    color: #e6e6e6;
}

.fontsize-setting .current-fontsize {
    width: 3ch;
    padding: 3px 0;
    font-size: 1.75rem;
    text-align: center;
    color: #eee;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background 0.2s ease;
}

.fontsize-setting .fontsize-select {
    width: 100%;
    display: none;
    position: relative;
    background-color: #555;
    border-radius: 3px;
    overflow: hidden;
}

.fontsize-select span {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: grid;
    place-items: center;
    height: 100%;
    width: 20px;
    font-size: 1rem;
    color: #d9d9d9;
    pointer-events: none;
    background-color: #707070;
}

.fontsize-select select {
    width: 100%;
    padding: 3px;
    font-size: 1.25rem;
    outline: none;
    background-color: inherit;
    -webkit-appearance: none;
    text-align: center;
    color: #eee;
    cursor: pointer;
    line-height: 1.1;
    user-select: none;
    border: none;
}

.mobile-fontsize-menu option:disabled {
    color: #bbb;
}

.fontsize-setting .indent-btn {
    width: 100%;
    display: none;
    place-items: center;
    background-color: #555;
    color: #eee;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.75rem;
    transition: background 0.2s ease;
}

.fontsize-setting .indent-btn:hover {
    background-color: hsl(0, 0%, 36%);
}

.reading-settings .theme-switcher {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 5px 0;
}

.theme-switcher button {
    color: var(--chapter-content-text-color);
    background-color: var(--body-color);
    font-size: 1.125rem;
    padding: 5px;
    line-height: 1;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 5px;
    border: none;
    transition: all 0.2s ease;
    outline: none;
    user-select: none;
}

.theme-switcher button.selected {
    box-shadow: 0 0 0 2px var(--pageOptions-panel-ui-color), 0 0 0 4px #bbb;
}

.msg-container {
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    padding: 10px;
    width: 85px;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 10000;
    user-select: none;
}

.msg-container.show {
    opacity: 0.5;
}

.theme-dark-1 .msg-container,
.theme-dark-2 .msg-container {
    background-color: hsl(0, 0%, 70%);
    color: #333;
}

.theme-dark-1 .msg-container.show,
.theme-dark-2 .msg-container.show {
    opacity: 0.7;
    box-shadow: 0 0 10px #fff;
}

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 20px 0;
}

.navigation[data-position="bottom"] {
    margin: 30px 0;
}

.navigation a {
    width: 200px;
    text-align: center;
    padding: 5px;
    background-color: var(--navigation-background-color);
    border-radius: 3px;
    font-size: 1.125rem;
    color: var(--chapter-text-color);
    transition: filter 0.2s ease;
}

.navigation a:hover {
    filter: brightness(0.9);
}

.theme-dark-1 .navigation a:hover,
.theme-dark-2 .navigation a:hover {
    filter: brightness(1.3);
}

@media screen and (max-width: 600px) {
    .fontsize-setting .fontsize-select {
        display: block;
    }

    .fontsize-setting .indent-btn {
        display: grid;
    }

    .fontsize-setting .current-fontsize {
        display: none;
    }
    .fontsize-setting button {
        display: none;
    }
}