:root {
    --page-opt-ui-background-color: #3b3b3b;
    --page-opt-ui-text-color: #eee;
    --body-background-color: #f7f1e4;
    --main-content-text-color: #4a331f;
    --catalog-panel-ui-color: #f7f1e4;
    --catalog-panel-topbar-text-color: #333;
    --active-chapter: #b1aea8;
    --cphater-list-text-color: #333;
    --total-chapters-text-color: #606060;
    --chapter-panel-hover-color: rgba(0, 0, 0, 0.1);
    --navigation-background-color: #b1aea8;
}

.theme-light-1 {
    --body-background-color: #f7f1e4;
    --main-content-text-color: #4a331f;
    --catalog-panel-ui-color: #f7f1e4;
    --catalog-panel-topbar-text-color: #333;
    --active-chapter: #b1aea8;
    --cphater-list-text-color: #333;
    --total-chapters-text-color: #606060;
    --chapter-panel-hover-color: rgba(0, 0, 0, 0.1);
    --navigation-background-color: #b1aea8;
}

.theme-light-2 {
    --body-background-color: #fcfcfc;
    --main-content-text-color: #333;
    --catalog-panel-ui-color: #fcfcfc;
    --catalog-panel-topbar-text-color: #333;
    --active-chapter: #d9d9d9;
    --cphater-list-text-color: #333;
    --total-chapters-text-color: #606060;
    --chapter-panel-hover-color: rgba(0, 0, 0, 0.1);
    --navigation-background-color: #dbdbdb;
}

.theme-dark-1 {
    --body-background-color: #1a1a1a;
    --main-content-text-color: #b2b2b2;
    --catalog-panel-ui-color: #3b3b3b;
    --catalog-panel-topbar-text-color: #ccc;
    --active-chapter: #585858;
    --cphater-list-text-color: #ccc;
    --total-chapters-text-color: #ddd;
    --chapter-panel-hover-color: #484848;
    --navigation-background-color: #3b3b3b;
}

.theme-dark-2 {
    --body-background-color: #000;
    --main-content-text-color: #ededed;
    --catalog-panel-ui-color: #3b3b3b;
    --catalog-panel-topbar-text-color: #ccc;
    --active-chapter: #585858;
    --cphater-list-text-color: #ccc;
    --total-chapters-text-color: #ddd;
    --chapter-panel-hover-color: #484848;
    --navigation-background-color: #303030;
}

body {
    background-color: var(--body-background-color);
}

body[data-scrollable="false"] {
    overflow: hidden;
}

.page-options {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.page-options.show {
    opacity: 1;
    visibility: visible;
}

.page-options .opt__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 8px;
    color: var(--page-opt-ui-text-color);
    background-color: var(--page-opt-ui-background-color);
    transform: translateY(-100%);
    transition: all 0.2s ease-out;
}

.page-options.show .opt__header {
    transform: translateY(0);
}

.opt__header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.opt__header .opt__back-to-home {
    font-size: 1.75rem;
    color: var(--page-opt-ui-text-color);
    display: grid;
    place-items: center;
}

.opt__back-to-home.hidden {
    visibility: hidden;
    pointer-events: none;
}

.opt__header .opt__book-name {
    font-size: 1.25rem;
    max-width: 13em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.opt__book-name a {
    color: var(--page-opt-ui-text-color);
}

.page-options .opt__nav-chapter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    font-size: 1.125rem;
    color: var(--page-opt-ui-text-color);
    background-color: var(--page-opt-ui-background-color);
}

.opt__nav-chapter.prev {
    left: 0;
    padding-right: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.opt__nav-chapter.next {
    right: 0;
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.page-options .opt__reading-settings {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px 8px 12px;
    background-color: var(--page-opt-ui-background-color);
    transform: translateY(100%);
    transition: all 0.2s ease;
}

.page-options.show .opt__reading-settings {
    transform: translateY(0);
}

.opt__reading-settings .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.opt__reading-settings .opt__open-in-page-catalog {
    cursor: pointer;
    border: none;
    width: 100%;
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 5px;
    color: #eee;
    background-color: #555;
}

.opt__reading-settings .opt__fontsize {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.opt__fontsize button {
    cursor: pointer;
    width: 120px;
    font-size: 1.125rem;
    padding: 3px;
    border-radius: 20px;
    background-color: #555;
    border: 2px solid #777;
    color: #ccc;
    transition: all 0.2s ease;
}

.opt__fontsize button:hover {
    background-color: #616161;
    border-color: #888;
}

.opt__fontsize .current-fontsize {
    width: 3ch;
    padding: 3px 0;
    font-size: 1.75rem;
    text-align: center;
    color: var(--page-opt-ui-text-color);
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background 0.2s ease;
}

.opt__fontsize .current-fontsize:hover,
.opt__fontsize .current-fontsize:active {
    background-color: #4a4a4a;
}

.opt__reading-settings .opt__theme-switcher {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 5px 0;
}

.opt__theme-switcher button {
    font-size: 1.125rem;
    padding: 5px;
    line-height: 1;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 5px;
    border: none;
    color: var(--main-content-text-color);
    background-color: var(--body-background-color);
    transition: all 0.2s ease;
    outline: none;
}

.opt__theme-switcher button.selected {
    box-shadow: 0 0 0 2px var(--page-opt-ui-background-color), 0 0 0 4px #bbb;
}

@media screen and (max-width: 425px) {
    .opt__theme-switcher button {
        border-radius: 3px;
    }
}

.catalog-container {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}

.catalog-container.show {
    opacity: 1;
    visibility: visible;
}

.catalog-container .catalog-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-color: var(--catalog-panel-ui-color);
    border-radius: 16px 16px 0 0;
    padding: 20px 8px;
}

.catalog-panel .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #777;
}

.catalog-panel .topbar span {
    font-size: 1.625rem;
    color: var(--catalog-panel-topbar-text-color);
}

.catalog-panel .topbar .close-btn {
    font-size: 1.75rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    padding: 3px;
    color: var(--catalog-panel-topbar-text-color);
}

.catalog-panel .topbar .close-btn:hover {
    background-color: var(--chapter-panel-hover-color);
}

.catalog-panel .tools {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.catalog-panel .tools .total-chapters {
    font-size: 1rem;
    color: var(--total-chapters-text-color);
}

.catalog-panel .tools .reverse-btn {
    display: none;
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: var(--total-chapters-text-color);
    background-color: transparent;
}

.catalog-panel .tools .reverse-btn:hover {
    background-color: var(--chapter-panel-hover-color);
}

.catalog-panel #chapter-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
    max-height: 85%;
    overflow-y: auto;
    padding: 0 0 10px;
}

@media screen and (min-width: 735px) {
    body.theme-dark-1 #chapter-list::-webkit-scrollbar,
    body.theme-dark-2 #chapter-list::-webkit-scrollbar {
        width: 9px;
    }
    
    #chapter-list::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: #484848;
    }
    
    #chapter-list::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #7c7c7c;
    }
}

#chapter-list li {
    border-radius: 5px;
    transition: all 0.2s ease;
}

#chapter-list li:hover,
#chapter-list li.active {
    background-color: var(--active-chapter);
}

#chapter-list li a {
    display: block;
    padding: 5px 3px;
    font-size: 1.25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--cphater-list-text-color);
}

.chapter-name {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    background-color: var(--body-background-color);
    z-index: 1;
    font-size: 1rem;
    color: #888;
    transition: transform 0.3s ease;
}

.chapter-name.scrolling {
    transform: translateY(-100%);
}

.chapter-name h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#page {
    padding: 8px;
}

#chapter-content {
    text-align: justify;
    font-size: 20px;
    min-height: 70vh;
}

#chapter-content.text-indent {
    text-indent: 2em;
}

#chapter-content p {
    margin: 1.25em 0;
    line-height: 1.25em;
    color: var(--main-content-text-color);
}

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 20px 0;
}

.navigation[data-position="top"] {
    margin-top: 60px;
}

.navigation a {
    width: 200px;
    text-align: center;
    padding: 5px;
    background-color: var(--navigation-background-color);
    border-radius: 3px;
    font-size: 1.125rem;
    color: var(--cphater-list-text-color);
}