:root {
    --image-size: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f1e4;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.container {
    width: min(800px, 100%);
    margin: auto;
}

.search-container {
    padding: 35px 25px;
}

.search-container .search-box {
    overflow: hidden;
    width: 100%;
    border: 1px solid #808080;
    border-radius: 5px;
    display: flex;
    background-color: #fff9f2;
}

.search-box input {
    order: 1;
    border-radius: inherit;
    outline: none;
    border: none;
    width: 100%;
    color: #333;
    font-size: 20px;
    padding: 10px 5px;
    background-color: transparent;
}

.search-box input::-webkit-search-decoration {
    display: none;
}

.search-box label {
    order: 0;
    display: grid;
    place-items: center;
    padding: 8px;
}

.search-box label i {
    color: #858585;
    font-size: 22px;
}

.books {
    padding: 0 25px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.books .book-item {
    display: flex;
    gap: 10px;
    padding: 10px 5px;
    border-bottom: 1px solid #b1b1b1;
}

.book-item .cover img {
    display: block;
    width: var(--image-size);
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.book-item .info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.info header .name {
    font-size: 1.25rem;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 1;
}

.info header .name a {
    color: #333;
}

.info header .status {
    min-width: 40px;
    display: grid;
    place-items: center;
    color: #505050;
    background-color: #e3c0c0;
    border-radius: 0.25rem;
    font-size: 14px;
}

.info .author {
    margin: 3px 0;
    color: #767676;
    -webkit-line-clamp: 3;
}

.info .intro {
    margin-top: auto;
    overflow: hidden;
    text-align: justify;
    color: #443b3b;
    font-size: 1.125rem;
    cursor: pointer;
    -webkit-line-clamp: 2;
}

.ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.intro-details {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: grid;
    place-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.intro-details.show {
    opacity: 1;
    pointer-events: all;
}

.intro-details .content {
    background-color: #f8f1e2;
    border-radius: 0.5rem;
    padding: 10px;
    margin: 20px;
    max-width: 500px;
    width: auto;
    min-height: 200px;
    max-height: 400px;
    text-align: justify;
    overflow-y: auto;
    font-size: 1.125rem;
    transform: scale(0);
    transition: transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.intro-details.show .content {
    transform: scale(1);
}

.intro-details .content br {
    display: block;
    content: " ";
    margin: 0.75em 0;
}

.intro-box.show .detail {
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 1000px) {
    :root {
        --image-size: 120px;
    }

    .info header .name {
        font-size: 22px;
    }

    .info .author {
        font-size: 16px;
    }

    .info .intro {
        -webkit-line-clamp: 3;
        text-align: justify;
    }
}